{% extends 'rocket/base.html' %}

{% block content %}
  <style>
        .rocket-card {
            transition: transform 0.3s, box-shadow 0.3s;
            height: 100%;
        }
        .rocket-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        }
        .rocket-img-container {
            height: 200px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
        }
        .rocket-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .rocket-name {
            font-weight: bold;
            color: #0d6efd;
        }
        .rocket-description {
            color: #6c757d;
            font-size: 0.9rem;
        }
</style>

<div class="container my-4">
        <h1 class="text-center mb-4">Ракеты-носители</h1>
        <form method = "GET" action = "{% url "list_rocket" %}">
            <div class="mb-3">
                <input type="text"
                  name="q" 
                  placeholder="Поиск по названию или описанию..." 
                  value="{{ request.GET.q|default:'' }}"
                 class="form-control">
                 
                 <button type="submit" class="btn btn-primary">Найти</button>
                 {% if request.GET.q %}
                 <a href="{% url 'list_rocket' %}" class="btn btn-outline-secondary">Сбросить</a>
                 {% endif %}
                </div>
        </form>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <!-- Карточка -->

            {% for r in rockets %}
            <div class="col">
                <a href="{% url "rocket_detail" pk=r.pk %}" class="text-decoration-none">
                    <div class="card rocket-card h-100">
                        <div class="rocket-img-container">
                            <img {% if r.imagerocket %} src="{{ r.imagerocket.url }}" {% endif %}class="rocket-img" alt={{r.name}}>
                        </div>
                        <div class="card-body">
                            <h5 class="rocket-name card-title">{{r.name}}</h5>
                            <p class="rocket-description card-text">{{r.gto_playload}} kg</p>
                            <p class="rocket-description card-text">{{r.short_description}}</p>
                        </div>
                        {% if r.pk not in rockets_reserv_pk %}
                            <a href="{% url 'request_form' rocket_pk=r.pk %}" class="btn btn-outline-primary">Добавить в расчет</a>
                        {% endif %}
            
                    </div>
                </a>
            </div>
           {% endfor %}
             
            
        </div>
    </div>

{% endblock%}